<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round">
          <a>
            <img
              src="https://i.pinimg.com/736x/3f/94/70/3f9470b34a8e3f526dbdb022f9f19cf7.jpg"
              alt=""
            />
          </a>
          <h1 class="mt-3 mb-3"></h1>
          <p></p>
        </div>

        <ul class="list-group nav nav-pills nav-stacked">
          <li class="list-group-item" routerLink="/Home">
            <button type="button" class="btn btn-success btn-lg btn-block">
              Home
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="profile-info col-md-9">
      <div class="panel">
        <div class="panel-body bio-graph-info">
          <h1>Mission detail</h1>
          <div class="row">
            <div class="bio-row">
              <p><span>Title </span>:{{ mission.titre }}</p>
            </div>
            <div class="bio-row">
              <p><span>Price </span>:{{ mission.prix }}</p>
            </div>
            <div class="bio-row">
              <p><span>Detail </span>:{{ mission.description }}</p>
            </div>
            <div class="bio-row">
              <p><span> </span></p>
            </div>
            <div class="bio-row">
              <p><span>Posted</span>:{{ user.email }}</p>
            </div>
            <div class="bio-row">
              <p>
                <span>Profile</span>:<input
                  (click)="gotoProfile()"
                  value="click"
                  type="button"
                />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
