body{
    margin-top:20px;
    background-color: #f7f7ff;
    }
    .radius-10 {
        border-radius: 10px !important;
    }
    
    .border-info {
        border-left: 5px solid  #0dcaf0 !important;
    }
    .border-danger {
        border-left: 5px solid  #fd3550 !important;
    }
    .border-success {
        border-left: 5px solid  #15ca20 !important;
    }
    .border-warning {
        border-left: 5px solid  #ffc107 !important;
    }
    .profile-card a {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
      }
      
      .profile-card a:last-child {
        margin-right: 0;
      }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: 0;
    }
    .card {
        margin-bottom: 30px;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 1.57rem;
    }
    
     .note-has-grid .nav-link {
         padding: .5rem
     }
    
     .note-has-grid .single-note-item .card {
         border-radius: 10px
     }
    
     .note-has-grid .single-note-item .favourite-note {
         cursor: pointer
     }
    
     .note-has-grid .single-note-item .side-stick {
         position: absolute;
         width: 3px;
         height: 35px;
         left: 0;
         background-color: rgba(82, 95, 127, .5)
     }
    
     .note-has-grid .single-note-item .category-dropdown.dropdown-toggle:after {
         display: none
     }
    
     .note-has-grid .single-note-item .category [class*=category-] {
         height: 15px;
         width: 15px;
         display: none
     }
    
     .note-has-grid .single-note-item .category [class*=category-]::after {
         content: "\f0d7";
         font: normal normal normal 14px/1 FontAwesome;
         font-size: 12px;
         color: #fff;
         position: absolute
     }
    
     .note-has-grid .single-note-item .category .category-business {
         background-color: rgba(44, 208, 126, .5);
         border: 2px solid #2cd07e
     }
    
     .note-has-grid .single-note-item .category .category-social {
         background-color: rgba(44, 171, 227, .5);
         border: 2px solid #2cabe3
     }
    
     .note-has-grid .single-note-item .category .category-important {
         background-color: rgba(255, 80, 80, .5);
         border: 2px solid #ff5050
     }
    
     .note-has-grid .single-note-item.all-category .point {
         color: rgba(82, 95, 127, .5)
     }
    
     .note-has-grid .single-note-item.note-business .point {
         color: rgba(44, 208, 126, .5)
     }
    
     .note-has-grid .single-note-item.note-business .side-stick {
         background-color: rgba(44, 208, 126, .5)
     }
    
     .note-has-grid .single-note-item.note-business .category .category-business {
         display: inline-block
     }
    
     .note-has-grid .single-note-item.note-favourite .favourite-note {
         color: #ffc107
     }
    
     .note-has-grid .single-note-item.note-social .point {
         color: rgba(44, 171, 227, .5)
     }
    
     .note-has-grid .single-note-item.note-social .side-stick {
         background-color: rgba(44, 171, 227, .5)
     }
    
     .note-has-grid .single-note-item.note-social .category .category-social {
         display: inline-block
     }
    
     .note-has-grid .single-note-item.note-important .point {
         color: rgba(255, 80, 80, .5)
     }
    
     .note-has-grid .single-note-item.note-important .side-stick {
         background-color: rgba(255, 80, 80, .5)
     }
    
     .note-has-grid .single-note-item.note-important .category .category-important {
         display: inline-block
     }
    
     .note-has-grid .single-note-item.all-category .more-options,
     .note-has-grid .single-note-item.all-category.note-favourite .more-options {
         display: block
     }
    
     .note-has-grid .single-note-item.all-category.note-business .more-options,
     .note-has-grid .single-note-item.all-category.note-favourite.note-business .more-options,
     .note-has-grid .single-note-item.all-category.note-favourite.note-important .more-options,
     .note-has-grid .single-note-item.all-category.note-favourite.note-social .more-options,
     .note-has-grid .single-note-item.all-category.note-important .more-options,
     .note-has-grid .single-note-item.all-category.note-social .more-options {
         display: none
     }
    
     @media (max-width:767.98px) {
         .note-has-grid .single-note-item {
             max-width: 100%
         }
     }
    
     @media (max-width:991.98px) {
         .note-has-grid .single-note-item {
             max-width: 216px
         }
     }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }
    .bg-gradient-scooter {
        background: #17ead9;
        background: -webkit-linear-gradient( 
    45deg
     , #17ead9, #6078ea)!important;
        background: linear-gradient( 
    45deg
     , #17ead9, #6078ea)!important;
    }
    .widgets-icons-2 {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ededed;
        font-size: 27px;
        border-radius: 10px;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    .text-white {
        color: #fff!important;
    }
    .ms-auto {
        margin-left: auto!important;
    }
    .bg-gradient-bloody {
        background: #f54ea2;
        background: -webkit-linear-gradient( 
    45deg
     , #f54ea2, #ff7676)!important;
        background: linear-gradient( 
    45deg
     , #f54ea2, #ff7676)!important;
    }
    
    .bg-gradient-ohhappiness {
        background: #00b09b;
        background: -webkit-linear-gradient( 
    45deg
     , #00b09b, #96c93d)!important;
        background: linear-gradient( 
    45deg
     , #00b09b, #96c93d)!important;
    }
    
    .bg-gradient-blooker {
        background: #ffdf40;
        background: -webkit-linear-gradient( 
    45deg
     , #ffdf40, #ff8359)!important;
        background: linear-gradient( 
    45deg
     , #ffdf40, #ff8359)!important;
    }body{
        margin-top:20px;
        background:#FAFAFA;
    }
    /*==================================================
      Newsfeed Left Sidebar
      ==================================================*/
    
    /*Profile Card CSS*/
    
    .profile-card{
      background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8));
      background-size: cover;
      width: 100%;
      min-height: 90px;
      border-radius: 4px;
      padding: 10px 20px;
      color: #fff;
      margin-bottom: 40px;
    }
    
    .profile-card img.profile-photo{
      border: 7px solid #fff;
      float: left;
      margin-right: 20px;
      position: relative;
      top: -30px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }
    
    .profile-card h5 a{
      font-size: 15px;
    }
    
    .profile-card a{
      font-size: 12px;
    }
    
    /*Newsfeed Links CSS*/
    
    ul.nav-news-feed{
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 0 40px 0;
        background:#fff;
      padding-top:20px;
    }
    
    ul.nav-news-feed li{
      list-style: none;
      display: block;
      padding: 15px 0;
    }
    
    ul.nav-news-feed li div{
      position: relative;
      margin-left: 30px;
      }
    
    ul.nav-news-feed li div::after{
      content: "";
      width: 100%;
      height: 1px;
      border-top: 1px solid #f1f2f2;
      position: absolute;
      bottom: -15px;
      left: 0;
    }
    
    ul.nav-news-feed li a{color: #6d6e71;}
    
    ul.nav-news-feed li i{
      font-size: 18px;
      margin-right: 15px;
      float: left;
    }
    
    ul.nav-news-feed i.icon1{color: #8dc63f;}
    
    ul.nav-news-feed i.icon2{color: #662d91;}
    
    ul.nav-news-feed i.icon3{color: #ee2a7b;}
    
    ul.nav-news-fee i.icon4{color: #f7941e;}
    
    ul.nav-news-fee i.con5{color: #1c75bc;}
    
    ul.nav-news-feed i.icon6{color: #9e1f63;}
    
    /*Chat Block CSS*/
    
    #chat-block{
      margin: 0 0 40px 0;
      text-align: center;
      background:#fff;
      padding-top:20px;
    }
    
    #chat-block .title{
      background: #8dc63f;
      padding: 2px 20px;
      width: 70%;
      height: 30px;
      border-radius: 15px;
      position: relative;
      margin: 0 auto 20px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
    
    ul.online-users{
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      margin: 0;
    }
    
    ul.online-users li{
      list-style: none;
      position: relative;
      margin: 3px auto !important;
      padding-left: 2px;
      padding-right: 2px;
    }
    
    ul.online-users li span.online-dot{
      background: linear-gradient(to bottom, rgba(141,198,63, 1), rgba(0,148,68, 1));
      border: none;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      position: absolute;
      bottom: -6px;
      border: 2px solid #fff;
      left: 0;
      right: 0;
      margin: auto;
    }
    
    img.profile-photo {
        height: 58px;
        width: 58px;
        border-radius: 50%;
    }
    
    ul.online-users {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        margin: 0;
    }
    
    .list-inline {
        padding-left: 0;
        margin-left: -5px;
        list-style: none;
    }
    
    .list-inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .text-white {
        color: #fff;
    }
    